<form accept-charset="UTF-8" action="https://bgwcj6u9m8.execute-api.eu-central-1.amazonaws.com/v1/contact?id=1807" method="POST">
    Your email: <input type="email"  name="email" placeholder="name@example.com" required>
    Subject:<input type="text"  name="subject" placeholder="Subject" required>
    Message:<input type="text"  name="message" placeholder="Your message" required>
    <input type="hidden" name="hiddenType" value="exmplHiddenFieldType">
    <button type="submit">Submit</button>
  </form>   